body {
  height: 97vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("sources/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-section {
  padding-left: 20px;
  padding-right: 20px;
}

.input-section label {
  margin-bottom: 5px;
  display: block;
}

.input-section input {
  margin-bottom: 10px;
}

.books-grid {
  text-align: center;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  padding: 10px;
  width: 100%;
}
.book-card > button {
  margin: 0.25rem;
}
